<p>Ini formulir dummy</p>
<form>
    <label>Input Sesuatu: </label>
    <%= text_field_tag 'sesuatu' %>
    <%= submit_tag "Input Sesuatu", data: { disable_with: "Mohon tunggu..." }, class: "button small" %>
</form>