<div class="row">
  <div class="large-3 medium-4 columns">
    <div class="sidebar panel">
      <h5>In a Glance</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="large-9 medium-8 columns">
    <%= calendar @events, :start_day => :monday do |event| %> 
      <%= link_to event.name, '#' %>
    <% end %>
  </div>

</div>

<div id="myModal" class="reveal-modal small" data-reveal>
  <h2>Mo ngapain sekarang?</h2>
    <p class="lead">Ini yang bisa lo kerjain:</p>
    <ol>
      <li>Catet Income</li>
      <li>Catet Outcome</li>
      <li>Nabung</li>
    </ol>

    <%= render 'dashboard/formulirku' %>
  <a class="close-reveal-modal">&#215;</a>
</div>